* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: Arial;
}


h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 10px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 33.33%;
    display: none;
}
 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: #fbf7f5;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
}

.content:hover {
    background-color: #eedfcc;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}